<!DOCTYPE html>
<html lang="en">
<!--G6 Project ejs

References:
Used personal CSS
Used Bootstrap for nav,footer,tables,jumbotron:
  nav,footer: https://getbootstrap.com/docs/5.3/components/navbar/#nav 
  table: https://getbootstrap.com/docs/5.3/content/tables/#overview
  jumbotron: https://getbootstrap.com/docs/4.0/components/jumbotron/
-->

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <!--CSS Files-->
  <!--CSS Desktop-->
  <link rel='stylesheet' href='/content/style.css' type="text/css"/>
  <!--CSS Bootstrap-->
  <link rel='stylesheet' href="/bootstrap/dist/css/bootstrap.min.css" />
  <!--CSS Fontawesome-->
  <link rel='stylesheet' href='/@fortawesome/fontawesome-free/css/all.min.css'>
</head>
<body>
